@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600&display=swap');

/*global config*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*global styling*/

body{
    font-family: 'Andada Pro', serif;
}
a{
    text-decoration: none;
    transform: uppercase;
}
p{
    font-size: 1.2rem;
    line-height: 2rem;
}
/*navbar*/

#navbar{
   background: black;
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   z-index: 1;
   color: #fff;
}
#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
} 
#navbar ul li a{
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem;
    margin: 0.50rem
}
#navbar ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
    color:yellow;
}
.logo{
    font-style:oblique;
    text-decoration: underline;
    text-decoration-color:antiquewhite;
    padding-bottom: 10px;
}
.icon{
    font-size: 2rem;
    color: blue;
}
.icons{
    font-size: 2rem;
}
.icons a{
    color: #fff;
    margin: 0 20px;
    position: relative;
    right: 250px;
}
.icons a:hover{
    background: beige;
    color: blueviolet;
    padding: 2px 8px;
    border-radius: 10px;
}
.dl{
color: springgreen;
}

/*Welcome*/

#welcome{
    background: url(../image/pexels-abhiram-prakash-915972.jpg) no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#welcome .a-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5)
}
.name{
    font-size: 2.5rem;
    color: antiquewhite;
    padding: 15px;
}
p{
    font-style: oblique;
    font-size: 17px;
    padding-bottom: 20px;
}
.btn{
    background: chartreuse;
    padding: 10px;
    font-size: 18px ;
    border-radius: 5px;
    font-weight: bolder;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}
#about{
    padding: 10px 0;
}
#about .am{
    text-align: center;
    padding: 50px;
    text-decoration: underline;

}
#about .main{
    display: flex;
}

#about .main .image{
    width: 500px;
    height: 500px;
    border: #114481 solid;
    position: relative;
    left: 20px;
    border-radius: 20px;
}
#about .main .p-2{
    text-align: center;
    margin-top: 100px;
}
#map{
    width: 50%;
    height: 300px;
    border: #11de41 solid;
    border-radius: 15px;
    padding-left: 20px;
}
#contact .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
#contact .container .container-2 ul li{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    font-size: 20px;
    line-height: 1rem;
    padding: 35px;
    border-bottom: dotted;
    height: 50px
}
.text-center{
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}
.color{
    color: #114481;
}
.bold{
    font-weight: bolder;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 35px;
    padding: 20px
}
footer .footer .ls{
    font-size: 16px;
    color: #fff;
    padding-top: 25px;
    text-decoration: underline;
    
}


    




